<h1>Gerenciador de Conteúdo</h1>

<a href="?pagina=admin&metodo=create">Criar publicação</a>
<hr>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>TÍTULO</th>
            <th>ALTERAÇÃO</th>
            <th>DELEÇÃO</th>
        </tr>
    </thead>
    
    {% for postagem in postagens  %}
    <tbody>
        <tr>
            <th>{{postagem.id}}</th>
            <th>{{postagem.titulo}}</th>
            <th><a href="?pagina=admin&metodo=change&id={{postagem.id}}">ALTERAÇÃO</a></th>
            <th><a href="?pagina=admin&metodo=delete&id={{postagem.id}}">DELEÇÃO</a></th>
        </tr>
    </tbody>
    {% endfor %}
</table>