<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title></title>
        <link rel="stylesheet" href="../../assets/style.css">
    </head>
    <body>
        <div id="corpo">
            <div id="topo">
                <header>
                    <nav>
                        <a href="http://localhost:8000/">Home</a> |
                        <a href="http://localhost:8000/?pagina=sobre">Sobre</a>
                    </nav>
                </header>
            </div>
            <div id="conteudo">
                {{area_dinamica}}
            </div>
        </div>
    </body>
</html>